Repository lovesegfault/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, markdownlint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

markdownlint:
  name: Markdownlint
  description: Run markdownlint on your Markdown files
  entry: mdl
  language: system

refactor(flake): simplify default drv
  flake.nix
Due: nixpkgs-fmt, nix-linter

chore(themes): lfs
  themes/hugo-theme-terminal/assets/fonts/FiraCode-Bold.woff
  themes/hugo-theme-terminal/assets/fonts/FiraCode-Regular.woff
  themes/hugo-theme-terminal/exampleSite/static/img/hello.jpg
  themes/hugo-theme-terminal/images/screenshot.png
  themes/hugo-theme-terminal/images/tn.png
  themes/hugo-theme-terminal/static/assets/2078a57b79d547bf1e2502f8d249b867.woff
  themes/hugo-theme-terminal/static/assets/58cebbe9a6bdcba6d4bb56a22a9e812f.woff
  themes/hugo-theme-terminal/static/img/favicon/blue.png
  themes/hugo-theme-terminal/static/img/favicon/green.png
  themes/hugo-theme-terminal/static/img/favicon/orange.png
  themes/hugo-theme-terminal/static/img/favicon/pink.png
  themes/hugo-theme-terminal/static/img/favicon/red.png
Due: none

feat: update katex
  layouts/partials/extended_footer.html
  layouts/partials/extended_head.html
Due: none

fix(on-leibniz-truth): qquad -> qquad_
  content/posts/on-leibniz-truth.md
Due: markdownlint

chore(dynlink): init
  content/drafts/dynamic-linking-for-the-working-engineer/images/elf101.png
  content/drafts/dynamic-linking-for-the-working-engineer/images/elf101.svg
  content/drafts/dynamic-linking-for-the-working-engineer/index.md
  flake.nix
Due: nixpkgs-fmt, nix-linter, markdownlint

chore(nix): update flake inputs
  flake.lock
Due: none

refactor(drafts/dynamic-linking): fix mdlint
  content/drafts/dynamic-linking-for-the-working-engineer/index.md
Due: markdownlint

ci(publish): fix permission issues
  .github/workflows/cd.yaml
Due: none

refactor(about): update picture
  content/about/me.jpg
Due: none

refactor(about): update info and interests
  content/about/index.md
Due: markdownlint

fix(dynamic-linking-for-the-working-engineer): convert to Git LFS
  content/drafts/dynamic-linking-for-the-working-engineer/images/elf101.png
  content/drafts/dynamic-linking-for-the-working-engineer/images/elf101.svg
Due: none

chore(flake): update inputs
  flake.lock
Due: none

chore: update katex
  layouts/partials/extended_head.html
Due: none

fix(flake): remove nix-linter
  flake.nix
Due: nixpkgs-fmt, nix-linter

fix(hugo): remove custom params from lang top-level
  config.toml
Due: none

chore(gitignore): add resources
  .gitignore
Due: none

ci: update actions
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

chore(flake/nixpkgs): e462c917 -> 3934dbde
  flake.lock
Due: none

chore(flake/gitignore): 9e21c80a -> 43e1aa13
  flake.lock
Due: none

chore(flake/utils): ff7b65b4 -> 4022d587
  flake.lock
Due: none

chore(flake/nixpkgs): 3934dbde -> eae82ed7
  flake.lock
Due: none

chore(flake/utils): 4022d587 -> 1ef2e671
  flake.lock
Due: none

chore(flake/nixpkgs): eae82ed7 -> 632751bf
  flake.lock
Due: none

chore(flake/gitignore): 43e1aa13 -> 637db329
  flake.lock
Due: none

chore(flake/utils): 1ef2e671 -> d465f481
  flake.lock
Due: none

chore(flake/nixpkgs): 632751bf -> bc6d119b
  flake.lock
Due: none

chore(flake/utils): d465f481 -> b1d9ab70
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$
  markdownlint: any of: \.(md|mdown|markdown)$, but not: themes/*
