Repository lovesegfault/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, markdownlint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

markdownlint:
  name: Markdownlint
  description: Run markdownlint on your Markdown files
  entry: mdl
  language: system

content/posts/drafts/arrays-are-not-pointers: continue writing
  content/posts/drafts/arrays-are-not-pointers.md
Due: markdownlint

content/about: move CV link here
  config.toml
  content/about/index.md
Due: markdownlint

content/posts/notes-on-euclidean-spaces: small fixes
  content/posts/notes-on-euclidean-spaces.md
Due: markdownlint

content/posts/drafts/arrays-are-not-pointers: finish
  content/posts/drafts/arrays-are-not-pointers.md
Due: markdownlint

content/posts/drafts/arrays-are-not-pointers: small typo fixes
  content/posts/drafts/arrays-are-not-pointers.md
Due: markdownlint

content/posts/drafts/arrays-are-not-pointers: on -> in
  content/posts/drafts/arrays-are-not-pointers.md
Due: markdownlint

content/posts/c-arrays-are-not-pointers: publish
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

content/posts/drafts -> content/drafts
  content/drafts/logic.md
  content/drafts/macos-good-bad-ugly/images/macos-dashboard.jpg
  content/drafts/macos-good-bad-ugly/images/ubuntu-cd.jpg
  content/drafts/macos-good-bad-ugly/index.md
  content/drafts/values.md
  content/posts/drafts
Due: markdownlint

content/posts/c-arrays-are-not-pointers: rename "Crossing Scopes" to "Function Arguments"
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

content/posts/c-arrays-are-not-pointers: add a comma
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

content/posts/c-arrays-are-not-pointers: computer -> compute
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

config: disable line numbers
  config.toml
Due: none

content/posts/c-arrays-are-not-pointers: Committe -> Committee
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

content/posts/c-arrays-are-not-pointers: cull word repetition
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

content/posts/drm-considered-harmful.md -> content/posts/drm-is-anti-copyright.md
  content/posts/drm-is-anti-copyright.md
Due: markdownlint

.github/workflows: bind publishing to CI OK
  .github/workflows/ci-cd.yaml
  .github/workflows/publish.yml
Due: none

content/post/drm-is-anti-copyright: fix title capitalization
  content/posts/drm-is-anti-copyright.md
Due: markdownlint

.github/workflows/update-flakes: try to fix checkout
  .github/workflows/update-flakes.yaml
Due: none

.github/workflows/update-flakes: update install-nix-action
  .github/workflows/update-flakes.yaml
Due: none

.github/dependabot: init
  .github/dependabot.yaml
Due: none

.github/workflows/update-flakes: reintroduce PAT during checkout
  .github/workflows/update-flakes.yaml
Due: none

.github/workflows/update-flakes: don't use --recreate-lock-file
  .github/workflows/update-flakes.yaml
Due: none

flake.lock: Update
  flake.lock
Due: none

Squashed 'themes/hugo-theme-terminal/' changes from aaaadaf..ca1cc0c
  USERS.md
  package.json
  yarn.lock
Due: markdownlint

chore(flake): update inputs
  flake.lock
Due: none

feat: enable conventional commits
  .czrc
Due: none

ci: fix install nix action
  .github/dependabot.yaml
  .github/workflows/ci-cd.yaml
  .github/workflows/update-flakes.yaml
Due: none

feat(nix): add flake-compat files
  default.nix
  shell.nix
Due: nixpkgs-fmt, nix-linter

chore(katex): 0.13.0 -> 0.13.11
  layouts/partials/extended_footer.html
Due: none

fix(themes/hugo-theme-terminal): remove all references to prism.js
  themes/hugo-theme-terminal/assets/css/prism.css
  themes/hugo-theme-terminal/assets/css/style.css
  themes/hugo-theme-terminal/assets/js/prism.js
  themes/hugo-theme-terminal/layouts/partials/footer.html
  themes/hugo-theme-terminal/static/assets/prism.js
  themes/hugo-theme-terminal/webpack.config.js
Due: none

perf(katex): improve katex font loading speed
  layouts/partials/extended_footer.html
Due: none

perf(themes/hugo-theme-terminal): defer loading css stylesheets
  layouts/partials/extended_footer.html
  themes/hugo-theme-terminal/layouts/partials/head.html
Due: none

revert: "perf(themes/hugo-theme-terminal): defer loading css stylesheets"
  layouts/partials/extended_footer.html
  themes/hugo-theme-terminal/layouts/partials/head.html
Due: none

chore(nix): update flake inputs
  flake.lock
Due: none

fix(content/posts/c-arrays-are-not-pointers): standardize ISO C citations
  content/posts/c-arrays-are-not-pointers.md
Due: markdownlint

feat(about): update job info
  content/about/index.md
Due: markdownlint

Squashed 'themes/hugo-theme-terminal/' changes from ca1cc0c..bf96fb2
  COMMUNITY-FEATURES.md
  README.md
  USERS.md
  archetypes/posts.md
  assets/css/main.css
  assets/css/prism.css
  assets/css/syntax.css
  assets/js/prism.js
  layouts/_default/index.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/shortcodes/prismjs.html
  package.json
  static/assets/blue.css
  static/assets/green.css
  static/assets/languageSelector.js
  static/assets/main.js
  static/assets/pink.css
  static/assets/prism.js
  static/assets/red.css
  static/assets/style.css
  webpack.config.js
  yarn.lock
Due: markdownlint

ci: install latest Nix instead of old commit
  .github/workflows/ci-cd.yaml
  .github/workflows/update-flakes.yaml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$
  markdownlint: any of: \.(md|mdown|markdown)$, but not: themes/*
